---
import Layout from '../layouts/Layout.astro';
import Test from '../components/test.vue';
---

<Layout title="Welcome to Astro.">
		this is about
		<a href="/">go to home</a>
        <Test client:load />
</Layout>
